In [0]:
import pandas as pd
import os

In [0]:
# data from https://observablehq.com/@mbostock/a-timeline-of-shelter-in-place
data = [
  {'name': "Alabama", 'date': "April 4 at 5 p.m."},
  {'name': "Alaska", 'date': "March 28 at 5 p.m."},
  {'name': "Arizona", 'date': "March 31 at 5 p.m."},
  {'name': "Arkansas", 'date': None},
  {'name': "California", 'date': "March 19"},
  {'name': "Colorado", 'date': "March 26 at 6 a.m."},
  {'name': "Connecticut", 'date': "March 23 at 8 p.m."},
  {'name': "Delaware", 'date': "March 24 at 8 a.m."},
  {'name': "District of Columbia", 'date': "April 1 at 12:01 a.m."},
  {'name': "Florida", 'date': "April 3 at 12:01 a.m."},
  {'name': "Georgia", 'date': "April 3"},
  {'name': "Hawaii", 'date': "March 25 at 12:01 a.m."},
  {'name': "Idaho", 'date': "March 25 at 1:30 p.m."},
  {'name': "Illinois", 'date': "March 21 at 5 p.m."},
  {'name': "Indiana", 'date': "March 24 at 11:59 p.m."},
  {'name': "Iowa", 'date': None},
  {'name': "Kansas", 'date': "March 30 at 12:01 a.m."},
  {'name': "Kentucky", 'date': "March 26 at 8 p.m."},
  {'name': "Louisiana", 'date': "March 23 at 5 p.m."},
  {'name': "Maine", 'date': "April 2 at 12:01 a.m."},
  {'name': "Maryland", 'date': "March 30 at 8 p.m."},
  {'name': "Massachusetts", 'date': "March 24 at 12 p.m."},
  {'name': "Michigan", 'date': "March 24 at 12:01 a.m."},
  {'name': "Minnesota", 'date': "March 27 at 11:59 p.m."},
  {'name': "Mississippi", 'date': "April 3 at 5 p.m."},
  {'name': "Missouri", 'date': "April 6 at 12:01 a.m."},
  {'name': "Montana", 'date': "March 28 at 12:01 a.m."},
  {'name': "Nebraska", 'date': None},
  {'name': "Nevada", 'date': "April 1"},
  {'name': "New Hampshire", 'date': "March 27 at 11:59 p.m."},
  {'name': "New Jersey", 'date': "March 21 at 9 p.m."},
  {'name': "New Mexico", 'date': "March 24 at 8 a.m."},
  {'name': "New York", 'date': "March 22 at 8 p.m."},
  {'name': "North Carolina", 'date': "March 30 at 5 p.m."},
  {'name': "North Dakota", 'date': None},
  {'name': "Ohio", 'date': "March 23 at 11:59 p.m."},
  {'name': "Oklahoma", 'date': None, 'partial': True},
  {'name': "Oregon", 'date': "March 23"},
  {'name': "Pennsylvania", 'date': "April 1 at 8 p.m."},
  {'name': "Rhode Island", 'date': "March 28"},
  {'name': "South Carolina", 'date': "April 7 at 5 p.m."},
  {'name': "South Dakota", 'date': None},
  {'name': "Tennessee", 'date': "March 31 at 11:59 p.m."},
  {'name': "Texas", 'date': "April 2 at 12:01 a.m."},
  {'name': "Utah", 'date': None, 'partial': True},
  {'name': "Vermont", 'date': "March 25 at 5 p.m."},
  {'name': "Virginia", 'date': "March 30"},
  {'name': "Washington", 'date': "March 23"},
  {'name': "West Virginia", 'date': "March 24 at 8 p.m."},
  {'name': "Wisconsin", 'date': "March 25 at 8 a.m."},
  {'name': "Wyoming", 'date': None, 'partial': True}
]

In [0]:
intervention = pd.DataFrame(data)

In [0]:
import re

In [0]:
for i in range(len(intervention['date'])):
    try:
        date_string = intervention.loc[i, 'date']
#         print(date_string)
        date_string = date_string.replace(re.search(r" at.*", date_string).group(), '')
#         print(date_string)
        intervention.loc[i, 'date'] = date_string
    except:
        pass

In [0]:
intervention['date'].unique()

array(['April 4', 'March 28', 'March 31', None, 'March 19', 'March 26',
       'March 23', 'March 24', 'April 1', 'April 3', 'March 25',
       'March 21', 'March 30', 'April 2', 'March 27', 'April 6',
       'March 22', 'April 7'], dtype=object)

In [0]:
for i in range(len(itvn['date'])):
    try:
        number_pattern = re.search(r"\d+", intervention.loc[i, 'date']).group()
#         print(number_pattern)
        if len(number_pattern) < 2:
            intervention.loc[i, 'date'] = intervention.loc[i, 'date'].replace(number_pattern,'0'+number_pattern)
#         print(intervention.loc[i, 'date'])
    except:
        pass

In [0]:
intervention['date'] = pd.to_datetime(intervention['date'], format='%B %d')

In [0]:
intervention['date'] = intervention['date'].apply(lambda t: t.replace(year=2020))

In [0]:
intervention['date']

0    2020-04-04
1    2020-03-28
2    2020-03-31
3           NaT
4    2020-03-19
        ...
46   2020-03-30
47   2020-03-23
48   2020-03-24
49   2020-03-25
50          NaT
Name: date, Length: 51, dtype: datetime64[ns]

In [0]:
intervention

             name       date partial
0         Alabama 2020-04-04     NaN
1          Alaska 2020-03-28     NaN
2         Arizona 2020-03-31     NaN
3        Arkansas        NaT     NaN
4      California 2020-03-19     NaN
..            ...        ...     ...
46       Virginia 2020-03-30     NaN
47     Washington 2020-03-23     NaN
48  West Virginia 2020-03-24     NaN
49      Wisconsin 2020-03-25     NaN
50        Wyoming        NaT    True

[51 rows x 3 columns]

In [0]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [0]:
for i in range(len(intervention)):
    intervention.loc[i, 'name'] = us_state_abbrev[intervention.loc[i, 'name']]

In [0]:
intervention

   name       date partial
0    AL 2020-04-04     NaN
1    AK 2020-03-28     NaN
2    AZ 2020-03-31     NaN
3    AR        NaT     NaN
4    CA 2020-03-19     NaN
..  ...        ...     ...
46   VA 2020-03-30     NaN
47   WA 2020-03-23     NaN
48   WV 2020-03-24     NaN
49   WI 2020-03-25     NaN
50   WY        NaT    True

[51 rows x 3 columns]

In [0]:
intervention.to_csv('intervention-simple.csv')

In [0]:
cases = pd.read_csv('us-states.csv')

In [0]:
cases.columns

Index(['date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [0]:
cases['state'].unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia', 'Northern Mariana Islands',
       'American Samoa'], dtype=object)

In [0]:
for i in range(len(cases)):
    cases.loc[i, 'state'] = us_state_abbrev[cases.loc[i, 'state']]

In [0]:
cases['state'].unique()

array(['WA', 'IL', 'CA', 'AZ', 'MA', 'WI', 'TX', 'NE', 'UT', 'OR', 'FL',
       'NY', 'RI', 'GA', 'NH', 'NC', 'NJ', 'CO', 'MD', 'NV', 'TN', 'HI',
       'IN', 'KY', 'MN', 'OK', 'PA', 'SC', 'DC', 'KS', 'MO', 'VT', 'VA',
       'CT', 'IA', 'LA', 'OH', 'MI', 'SD', 'AR', 'DE', 'MS', 'NM', 'ND',
       'WY', 'AK', 'ME', 'AL', 'ID', 'MT', 'PR', 'VI', 'GU', 'WV', 'MP',
       'AS'], dtype=object)

In [0]:
cases.to_csv('cases_by_state.csv')